/* Random Quote Generator Styles */
body {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  /* margin: 0 auto; */
}

.container {
  text-align: center;
}

.button-box {
  position: absolute;
  bottom: 20%;
  left: 10%;
  right: 10%;
  line-height: .5;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  line-height: .5;
}

.quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.quote:before, .quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}

.quote:before {
  top: .25em;
  left: -.5em;
}

.quote:after {
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.tag {
  border: 1px white solid;
  padding: 5px;
  margin-left: 1rem;
  border-radius: 5px;
}

#loadQuote {
  border-radius: 4px;
  border: 2px solid #fff;
  color: #303030;
  background-color: white;
  padding: 1rem;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgba(255,255,255,.5);
}

#loadQuote:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before, .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
  .tag {
    font-size: .5rem;
  }
  .button-box {
    border: 2px solid blue;
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;
    line-height: .5;
  }
}
